.fiche-logement-container {
    margin-left: 100px;
    margin-right: 100px;
}

.logement-main-info {
    display: flex;
    justify-content: space-between;
    color: #FF6060;
    margin-top: 30px;
}

.logement-info-container {
    width: min-content;
    text-align: left;
}

.logement-title {
    font-size: 2.2em;
    font-weight: 500;
}

.logement-location {
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 10px;
}

.logement-owner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.owner-info {
    display: flex;
    justify-content: flex-end;

}

.logement-owner-name {
    justify-content: center;
    width: min-content;
    text-align: right;
    margin-right: 10px;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logement-owner-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;

}

.rating-container {
    margin-top: 20px;
    align-self: flex-end;
}

.tags-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

@media screen and (min-width:1440px) {}

@media screen and (min-width:1024px) and (max-width:1439px) {}

@media screen and (min-width:768px) and (max-width:1023px) {}

@media screen and (min-width:425px) and (max-width:1023px) {
    .fiche-logement-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .fiche-logement-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logement-main-info {
        flex-direction: column;
    }

    .logement-title {
        font-size: 18px;
    }

    .logement-location {
        font-size: 14px;
    }

    .rating-container {
        margin-top: 0;
        align-self: center;
    }

    .owner-info {
        display: flex;
    }

    .logement-owner-container {
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 15px;
    }

    .logement-owner-name {
        font-size: 0.75em;
    }

    .logement-owner-picture {
        width: 32px;
        height: 32px;
    }

    .dropdown-container {
        flex-direction: column;
        gap: 0px;
    }
}

@media screen and (min-width:375px) and (max-width:424px) {
    .fiche-logement-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .fiche-logement-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logement-main-info {
        flex-direction: column;
    }

    .logement-title {
        font-size: 18px;
    }

    .logement-location {
        font-size: 14px;
    }

    .rating-container {
        margin-top: 0;
        align-self: center;
    }

    .owner-info {
        display: flex;
    }

    .logement-owner-container {
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 15px;
    }

    .logement-owner-name {
        font-size: 0.75em;
    }

    .logement-owner-picture {
        width: 32px;
        height: 32px;
    }

    .dropdown-container {
        flex-direction: column;
        gap: 0px;
    }

}


@media screen and (min-width:320px) and (max-width:374px) {
    .fiche-logement-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .logement-main-info {
        flex-direction: column;
    }

    .logement-title {
        font-size: 18px;
    }

    .logement-location {
        font-size: 14px;
    }

    .rating-container {
        margin-top: 0;
        align-self: center;
    }

    .owner-info {
        display: flex;
    }

    .logement-owner-container {
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 15px;
    }

    .logement-owner-name {
        font-size: 0.75em;
    }

    .logement-owner-picture {
        width: 32px;
        height: 32px;
    }

    .dropdown-container {
        flex-direction: column;
        gap: 0px;
    }
}