.card {
    width: 285px;
    height: 285px;
    border-radius: 10px;
    display: flex;
    object-fit: fill;
}

.card-location-title {
    align-self: flex-end;
    font-size: 1.1em;
    font-weight: 500;
    max-width: 50%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 15px;
}