.home-container {
    position: relative;
    text-align: center;
    color: #fff;
}

.home-img {
    width: 100%;
    border-radius: 25px;
}

.home-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}